[project]
	description = Linux kernel source tree
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Anis Elleuch (vadmeste)
[access "refs/for/refs/*"]
	read = group user/Anis Elleuch (vadmeste)
	push = group user/Anis Elleuch (vadmeste)
	label-Code-Review = -2..+2 group user/Anis Elleuch (vadmeste)
	label-Verified = -1..+1 group user/Anis Elleuch (vadmeste)
	rebase = group user/Anis Elleuch (vadmeste)
	removeReviewer = group user/Anis Elleuch (vadmeste)
	submit = group user/Anis Elleuch (vadmeste)
[access "refs/heads/*"]
	read = group user/Anis Elleuch (vadmeste)
	create = group user/Anis Elleuch (vadmeste)
	push = +force group user/Anis Elleuch (vadmeste)
	pushMerge = group user/Anis Elleuch (vadmeste)
[access "refs/tags/*"]
	push = +force group user/Anis Elleuch (vadmeste)
	pushTag = group user/Anis Elleuch (vadmeste)
	pushSignedTag = group user/Anis Elleuch (vadmeste)
